$primary-color: #34495e;
$secondary-color: #ecf0f1;  
$primary-text-color: #444444; 
$flash-notice-color: #dbffdd;
$flash-alert-color: #ffe1de;
$errors-background-color: #ffffcc; 
$errors-text-color: #dc3d3d;
