@import "colors"; 

header#page-header { 
  padding: 5px; 
  color: $secondary-color; 
  background: $primary-color;
  h1 { 
    text-align: center; 
    text-transform: uppercase;
  } 
}

footer#page-footer {
  padding: 5px; 
  text-align: center; 
  color: $primary-color; 
  background: $secondary-color; 
}

aside#sidebar { 
  float: right; 
  background: $secondary-color; 
  width: 200px; 
}

/* FLASHES */

.flash {
  color: $primary-text-color;
  border-radius: 4px; 
  padding: 10px; 
  margin: 0; 
  text-align: center; 
  text-transform: uppercase; 
  box-shadow: #ffc 0 0 4px; 

  &.notice { 
    background-color: $flash-notice-color;
  }

  &.alert { 
    background-color: $flash-alert-color; 
  } 
}

section#errors { 
  margin: 1em 0; 
  padding: 1em; 
  background: $errors-background-color; 
  h2 { 
    color: $errors-text-color; 
    font-size: 1.25em; 
  }

  h3 {
    font-size: 1em; 
    margin: 0.5em 0; 
    font-weight: bold; 
  }
}
